{% extends 'base.html' %}
{% load static %}

{% block title %}
    主页
{% endblock %}

{% block content %}
    <!--内容栏 begin-->
    <div class="container">
        {% for part in all_part %}
            {% if forloop.counter > 10 %}
                <div class="site-area floor_{{ forloop.counter|add:-10 }}">
            {% else %}
                <div class="site-area floor_{{ forloop.counter }}">
            {% endif %}
        <!--编程网站列表-->
        <div class="floor">{{ part }}</div>

        {% for group in all_group %}
            {% ifequal part.id group.group_part_id %}
                <!--次列表-->
                <ul>
                    <li class="title"><a href="#" onclick="return false" target="_blank">{{ group.group }}</a></li>
                    {% for site in all_site %}
                        {% ifequal group.id site.site_group_id %}
                            <li><a href="{{ site.url }}" target="_blank"><b>{{ site.title }}</b></a></li>
                        {% endifequal %}
                    {% endfor %}
                </ul>
            {% endifequal %}
        {% endfor %}
        </div>
        {% endfor %}
        </div>
    </div>
    <!--内容栏 end-->
{% endblock %}