{% extends 'base.html' %}
{% load static %}

{% block title %}
    主页
{% endblock %}

{% block content %}

    <div class="container">
        <div class="daohan">

        </div>
    </div>



    <div class="container">

        <div class="site-area floor_1">

            <div class="floor">用户体验</div>
            <ul>
                <li class="title"><a href="#" onclick="return false" target="_blank">体验</a></li>
                <li><a href="http://isux.tencent.com/" target="_blank">腾讯ISUX</a></li>
                <li><a href="http://cdc.tencent.com/" target="_blank">腾讯CDC</a></li>
                <li><a href="" target="_blank"></a></li>
            </ul>
            <ul>
                <li class="title"><a href="#" onclick="return false" target="_blank">产品</a></li>
                <li><a href="http://www.masterchat.cn/" target="_blank">产品邦</a></li>
                <li><a href="http://www.chanpin100.com/" target="_blank">产品100</a></li>
                <li><a href="http://www.b2cpm.com/" target="_blank">经理王</a></li>
                <li><a href="http://www.woshipm.com/" target="_blank">人人经理</a></li>
                <li><a href="http://www.zhihu.com/question/19563363" target="_blank">产品人责任</a></li>
            </ul>

        </div>


        <div class="site-area floor_2">
            <div class="floor">站长工具</div>
            <ul>
                <li class="title"><a href="#" onclick="return false" target="_blank">站长</a></li>
                <li><a href="http://tool.chinaz.com/" target="_blank">站长之家</a></li>
                <li><a href="" target="_blank"></a></li>
                <li><a href="" target="_blank"></a></li>
                <li><a href="" target="_blank"></a></li>
                <li><a href="" target="_blank"></a></li>
                <li><a href="" target="_blank"></a></li>
                <li><a href="" target="_blank"></a></li>
            </ul>
        </div>

    </div>
{% endblock %}

